<div class="container mt-4 text-center" *ngIf="project">
  <h2 class="fw-bold">{{ project.name }}</h2>
  <p class="fs-5">{{ project.description }}</p>

  <hr />

  <div class="mb-3">
    <label for="photoUpload" class="form-label">Fotos zum Projekt hochladen</label>
    <input
      type="file"
      id="photoUpload"
      class="form-control"
      (change)="onFilesSelected($event)"
      multiple
      accept="image/*"
    />
  </div>

  <div *ngIf="selectedFiles.length > 0" class="mb-3">
    <p>{{ selectedFiles.length }} Datei(en) ausgewählt.</p>
    <button class="btn btn-primary" (click)="uploadPhotos()">Fotos hochladen</button>
  </div>
</div>
