<!--<h1>Hello, {{ title }} for VFH Patterns and Framsworks</h1>
<p>Congratulations! Your app is running. 🎉</p>

<nav>
  <ul>
    <li>
      <a
        routerLink="/home-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">Home</a>
    </li>
  </ul>
  <ul>
    <li>
      <a
        routerLink="/project-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">Project</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>-->
<navbar></navbar>



